@import "../../variables";

.flip-container {
  perspective: 1000px;
  width: 3.5rem;
  height: 5.25rem;
  display: inline-block;
  margin: 0.1rem;

  &.in-deck {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: translateY(-2rem) rotate(15deg);

      .front {
        box-shadow: 5px 5px 15px #000000;
      }
    }
  }
}

.flip-container.flip .card {
  transform: rotateY(180deg);
}

.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;

  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    width: 3.25rem;
    border: 3px solid #000000;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px #000000;
    transition: box-shadow 0.2s;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
    background: url('/assets/vertical-waves.png') #FFFFFF;

    .value {
      padding-top: 1.5rem;
    }
  }

  .back {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transform: rotateY(180deg);
    background: $brand-color;
    border-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.75rem;
  }
}

.card-1 .front {
  border-color: #E24A9C;
}

.card-2 .front {
  border-color: #32A74C;
}

.card-3 .front {
  border-color: #6D1661;
}

.card-5 .front {
  border-color: #0177A6;
}

.card-8 .front {
  border-color: #AEC43E;
}

.card-13 .front {
  border-color: #EDCA44;
}

.card-20 .front {
  border-color: #A02722;
}

.card-40 .front {
  border-color: #8186AD;
}

.card-100 .front {
  border-color: #00B6AF;
}

.card-flipped {
  border-color: transparent;
}
