<h1>Join Game</h1>
<div><em>Game ID: {{gameId}}</em></div>

<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
  <div class="form-row">
    <label for="name-field">Your name</label>
  </div>
  <div class="form-row">
    <input type="text" id="name-field" required autofocus
           [(ngModel)]="model.name" name="name" #name="ngModel"
           [class.error]="name.invalid && name.touched">
    <div class="error-message" [hidden]="name.valid || name.untouched">Please enter your name.</div>
  </div>
  <div class="form-row">
    <button type="submit" [disabled]="!form.valid || loading">
      <ng-container *ngIf="!loading">Join Game</ng-container>
      <app-loader *ngIf="loading" size="1.25em" border="0.25em"></app-loader>
    </button>
  </div>
</form>
