#game-root {
  display: flex;
}

#game-container {
  flex-grow: 1;
}

#game-area {
  display: flex;
  margin: 1rem;

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;

    .player-name {
      text-align: center;
      font-weight: bold;
    }

    app-card {
      margin: 0.25rem;
    }
  }
}

#voted {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  app-card {
    margin-left: 1rem;
  }
}

#participants {
  li {
    list-style-type: none;
  }
}
