<div id="game-root">
  <section id="game-container">
    <div>
      <button [disabled]="!allVoted" (click)="flipped = !flipped">Flip</button>
      <button>Play Again</button>
    </div>

    <h2>Current Game</h2>
    <div id="game-area">
      <div *ngFor="let player of players" class="player">
        <div class="player-name">{{player.name}}</div>
        <app-card-placeholder *ngIf="!votes[player.id]"></app-card-placeholder>
        <app-card *ngIf="votes[player.id]" [value]="votes[player.id]" [flipped]="flipped"></app-card>
      </div>
    </div>

    <h2>My Deck</h2>
    <app-deck (vote)="vote($event)"></app-deck>
  </section>
  <section>
    <h2>Participants</h2>
    <ul>
      <li *ngFor="let player of players">{{player.name}}</li>
    </ul>
  </section>
</div>
