@import "../variables";

header {
  background-color: $brand-color;
  padding: 1rem;
  color: #FFFFFF;
  box-shadow: 0px 1px 1px #000000;
  display: flex;

  .logo {
    width: 4em;
    height: 4em;
  }

  #header-content {
    flex-grow: 1;

    h1 {
      margin: 0;

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }

  #player {
    align-self: center;
  }
}

#main-content {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}

footer {
  border-top: 1px solid #CCCCCC;
  font-size: 0.75rem;
  padding: 0.5rem;
  clear: both;
}
