<header>
  <img class="logo" src="/assets/logo.png">
  <div id="header-content">
    <h1>ScrumDeck</h1>
    Estimation for remote teams
  </div>
  <div id="player" *ngIf="playerName$ | async">
    <i class="fa fa-user-circle"></i> {{playerName$ | async}}
  </div>
</header>

<div id="main-content">
  <router-outlet></router-outlet>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>

<footer>
  ScrumDeck {{version}} | <a href="https://github.com/joeattardi/scrum-deck">GitHub project</a>
</footer>
