<app-card value="0" [inDeck]="true"></app-card>
<app-card value="&#189;" [inDeck]="true"></app-card>
<app-card value="1" [inDeck]="true"></app-card>
<app-card value="2" [inDeck]="true"></app-card>
<app-card value="3" [inDeck]="true"></app-card>
<app-card value="5" [inDeck]="true"></app-card>
<app-card value="8" [inDeck]="true"></app-card>
<app-card value="13" [inDeck]="true"></app-card>
<app-card value="20" [inDeck]="true"></app-card>
<app-card value="40" [inDeck]="true"></app-card>
<app-card value="100" [inDeck]="true"></app-card>
<app-card value="?" [inDeck]="true"></app-card>
