<app-card value="1" [inDeck]="true"></app-card>
<app-card value="2" style="position: relative; left: -4rem;" [inDeck]="true"></app-card>
<app-card value="3" style="position: relative; left: -8rem;" [inDeck]="true"></app-card>
<app-card value="5" style="position: relative; left: -12rem;" [inDeck]="true"></app-card>
<app-card value="8" style="position: relative; left: -16rem;" [inDeck]="true"></app-card>
<app-card value="13" style="position: relative; left: -20rem;" [inDeck]="true"></app-card>
<app-card value="20" style="position: relative; left: -24rem;" [inDeck]="true"></app-card>
<app-card value="40" style="position: relative; left: -28rem;" [inDeck]="true"></app-card>
<app-card value="100" style="position: relative; left: -32rem;" [inDeck]="true"></app-card>
<app-card value="?" style="position: relative; left: -36rem;" [inDeck]="true"></app-card>
