section {
  max-width: 40rem;
}

#mockup {
  float: right;
  width: 500px;
}

#actions {
  text-align: center;
}

#start-new-game {
  margin: 1rem;
}

#join-game {
  margin: 1rem;
  display: flex;
  justify-content: center;
}